<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.runtime.remoting>
    <application>
      <lifetime leaseTime="0"/>
      <channels>
        <channel ref="http" port="1234" />
      </channels>
      <service>
        <wellknown type="CentralManagerImpl.CentralManager, CentralManagerImpl" mode="Singleton" objectUri="RemoteCentralManager.soap" />
      </service>
    </application>
  </system.runtime.remoting>
</configuration>