<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.runtime.remoting>
      <application>
        <channels>
          <channel ref="http" port="0" />
          <channel ref="tcp" port="0" />
          <channel ref="ipc" portName="ClientChannel" />
        </channels>
        <client>
          <wellknown displayName="Broker 1"
                     type="BrokerInterface.IBroker, BrokerInterface"
                     url="http://localhost:1234/RemoteBroker.soap" />
        </client>
      </application>
    </system.runtime.remoting>
</configuration>