<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.runtime.remoting>
    <application>
      <lifetime leaseTime="0"/>
      <channels>
        <channel ref="http" port="7502">
          <clientProviders>
            <formatter ref="soap" />
          </clientProviders>
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
      <service>
        <wellknown type="BrokerImpl.Broker, BrokerImpl" mode="Singleton" objectUri="RemoteBroker.soap" />
      </service>
      <client>
        <wellknown type="CentralManagerInterface.ICentralManager, CentralManagerInterface" url="http://localhost:7500/RemoteCentralManager.soap"/>
      </client>
    </application>
  </system.runtime.remoting>
</configuration>