<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.runtime.remoting>
      <application>
        <channels>
          <channel ref="http" port="0">
            <clientProviders>
              <formatter ref="soap" />
            </clientProviders>
            <serverProviders>
              <formatter ref="soap" typeFilterLevel="Full" />
            </serverProviders>
          </channel>
          <channel ref="tcp" port="0">
            <clientProviders>
              <formatter ref="soap" />
            </clientProviders>
            <serverProviders>
              <formatter ref="soap" typeFilterLevel="Full" />
            </serverProviders>
          </channel>
          <!--<channel ref="ipc" portName="ClientChannel" />-->
        </channels>
      </application>
    </system.runtime.remoting>
  <appSettings>
    <add key="type" value="BrokerServiceInterface.IBrokerService"/>
    <add key="assembly" value="BrokerServiceInterface"/>
    <add key="RegionA" value="http://localhost:1235/RemoteBroker.soap"/>
    <add key="RegionB" value="http://localhost:1236/RemoteBroker.soap"/>
    <add key="RegionC" value="http://localhost:1237/RemoteBroker.soap"/>
  </appSettings>
</configuration>