<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IKVService">
                    <security mode="Message">
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8734/Design_Time_Addresses/HostKVStorage/KVService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IKVService"
                contract="KVService.IKVService" name="kv2_client">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8735/Design_Time_Addresses/HostKVStorage/KVService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IKVService"
                contract="KVService.IKVService" name="kv3_client">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="HostBroker.BrokerService">
                <clear />
                <endpoint address="" binding="wsDualHttpBinding" name="service"
                    contract="HostBroker.IBrokerService" listenUriMode="Explicit">
                    <identity>
                        <dns value="localhost" />
                        <certificateReference storeName="My" storeLocation="LocalMachine"
                            x509FindType="FindBySubjectName" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" name="metadata"
                    contract="IMetadataExchange" listenUriMode="Explicit">
                    <identity>
                        <dns value="localhost" />
                        <certificateReference storeName="My" storeLocation="LocalMachine"
                            x509FindType="FindBySubjectDistinguishedName" />
                    </identity>
                </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8734/Design_Time_Addresses/HostBroker/BrokerService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>