<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Broker.BrokerService">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
                    name="service" contract="Broker.IBrokerService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" name="metadata"
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8737/Design_Time_Addresses/Broker/BrokerService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <wsDualHttpBinding>
                <binding name="service" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8734/Design_Time_Addresses/KVStorage/KVService/"
                binding="netTcpBinding" bindingConfiguration="" contract="KVService.IKVService"
                name="storage2">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8735/Design_Time_Addresses/KVStorage/KVService/"
                binding="netTcpBinding" bindingConfiguration="" contract="KVService.IKVService"
                name="storage3">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/KVStorage/KVService/"
                binding="netTcpBinding" bindingConfiguration="" contract="KVService.IKVService"
                name="storage1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>